In [1]:
import pandas as pd

In [13]:
def create_date_table2(start, end):
    df = pd.DataFrame({"Date": pd.date_range(start, end)})
    df["Day"] = df.Date.dt.day_name()
    df["Week"] = df.Date.dt.weekofyear
    df["Quarter"] = df.Date.dt.quarter
    df["Year"] = df.Date.dt.year
    df["Year_half"] = (df.Quarter + 1) // 2
    df["Month"] = df.Date.dt.month_name()
    return df

create_date_table2('2000-01-01','2050-12-31').tail()

C:\Users\PCMYM\AppData\Local\Temp\ipykernel_2100\1333614683.py:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df["Week"] = df.Date.dt.weekofyear

            Date        Day  Week  Quarter  Year  Year_half     Month
18623 2050-12-27    Tuesday    52        4  2050          2  December
18624 2050-12-28  Wednesday    52        4  2050          2  December
18625 2050-12-29   Thursday    52        4  2050          2  December
18626 2050-12-30     Friday    52        4  2050          2  December
18627 2050-12-31   Saturday    52        4  2050          2  December